<%- include("./partials/header.ejs") %> 
   <h1><%- title %></h1>
   <% for (let meme of memes) { %>
       <div class="container">
            <img src="<%- meme %>" alt="meme" srcset="">
       </div>
    <% } %> 
<%- include ("./partials/footer.ejs") %>