/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import "rails_bootstrap_forms";


.navbar-nav {
    margin-left: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    
}
.navbar-nav > li:first-child{
    padding-right:10px;
}
.cards {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
  }
.link {
    text-decoration: none;
}

.box-container {
    display: flex;
}
  
.boxes {
white-space: nowrap;
}
  
@media (min-width: 600px) {
   .cards { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 900px) {
    .cards { grid-template-columns: repeat(3, 1fr); }
}