<%- include('./partials/header') %>

    <div class="text-center">
      <img id='hangmanPic' src="./images/0.jpg" alt="">
      <div class="float-right">Wrong Guesses: <span id='mistakes'>0</span> of <span id='maxWrong'>6</span></div>
      <div class="buttons">
      </div>  
      <p id="wordSpotlight">Guess Programming Language</p>
      <p id="keyboard"></p>
    <button class="btn btn-info reset-btn" >Reset</button>
    </div>

<script src="/hangman.js".js"></script>
<%- include('./partials/footer') %>