<%= form_with(model :idea) do | f | %>
<div>
    <%= f.label :body, class: "form-label"%>
    <%= f.text_field :body, class: "form-control" %>
</div>


<div>
    <%= f.submit "Create Ideas", class:  "btn btn-outline-primary btn-md" %>
</div>
<% end %>