<%- include("../partials/header") %>
<form action="/cohorts" method="GET">
    <%- include("./new_form.ejs") %>
    <input type="submit" value="Create Post" class="btn btn-outline-success">
</form>
<%- include("../partials/footer") %>