 <header>

<header class="navbar-custom" >
    <nav class="navbar navbar-expand-lg  bg-light" style="width:100%">
        <a class="navbar-brand" style="margin-left: 10px; href="<%= root_path %>">Blog On Rails</a>
            <ul class="navbar-nav ms-auto" >
                <li class="nav-item navbar-custom">
                    <a class="nav-link"  href="<%= posts_path %>">Post Index  </a>
                </li>
           
                <li class="nav-item navbar-custom">
                     <a class="nav-link" href="<%= new_post_path %>"> New Post</a>
                </li>
            </ul>
    </nav>
</header>
</header>